body {
    background: radial-gradient(circle at top, #2b1b0f, #000);
    color: #f5e6c8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
}
h1 {
    font-size: 36px;
}

.price {
    font-size: 28px;
    color: #00ff99;
    margin: 20px 0;
}

.discord {
    margin-top: 40px;
    font-size: 18px;
}
